{% set active_page = "FAQ" %}
{% set page_title = "FAQ" %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    table, th, td {
        border:1px solid black;
    }

    .red-hyper-link {
        color: #1c6fdd !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="main-text" style="width: 70%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 5vh;">
<p class="infopage-title-1" style="padding-top: 5vh;">What is this?</p>
<p class="infopage-text">
This website serves to help connect developmental science and computer science researchers. To facilitate this, one of our goals is to maintain a library of works at the intersection of the fields. Please look at the Papers section of the website.
</p>

<!-- Keyword Explanations Section -->
<p class="infopage-title-1">Keyword Explanations</p>
<p class="infopage-text">Here are the working definitions we propose to help organize our library of papers. We encourage suggestions, edits and additions, as these
    definitions will surely evolve over time.
</p>
<table id="keyword-explanation-table" style="width:100%; margin-bottom: 20px;">
    <tr>
        <th>Keyword</th>
        <th>Explanation</th>
    </tr>
</table>

<script>
    const keyword2expanation = {
        "Visual Perception": "Visual understanding of the world.",  
        "Language": "Language acquisition",                                                                       
        "Motor Development": "Developing the capacity to move in the world.",                                     
        "Shape": "Learning the 2D/3D shape of objects and scenes",                                                      
        "Object Recognition": "Learning how to recognize and categorize objects",                                 
        "Fast Mapping": "Word acqusition based on minimal information",                                                           
        "Mutual Exclusivity": "An assumption that helps learning, e.g. only one objecty has one label",                                   
        "Few-Shot/Low-Shot Learning": "Learning novel concepts from minimal supervision, using only a few labelled samples",             
        "Speech": "Research pertaining to speech development and understanding",   
    };
    for(entry of Object.entries(keyword2expanation)){
        const keyword = entry[0];
        const explanation = entry[1];
        d3.select("#keyword-explanation-table")
        .append("tr")
        .html(`
        <td>${keyword}</td>
        <td>${explanation}</td>
        `);
    }
</script>
{% endblock %}


